<div class="mainContainer">

  <div class="container">

    <div class="content">

      <div class="scadaLogo">
        <img class="logo" src="../ScadaLTS/app/media/ScadaLogo.png">
      </div>

      <div class="loginForm">

        <form method="post">

          <md-input-container>
            <input mdInput placeholder="username" type="text">
          </md-input-container>

          <md-input-container>
            <input mdInput placeholder="e-mail" type="email">
          </md-input-container>

          <md-input-container>
            <input mdInput placeholder="password" type="password">
          </md-input-container>

          <md-input-container>
            <input mdInput placeholder="repeat password" type="password">
          </md-input-container>

          <div class="buttonsGroup">
            <button md-raised-button [routerLink]="['/login']" type="button" class="loginButton">Sign up</button>
          </div>

        </form>

      </div>

    </div>

  </div>

</div>
