<div class="mainContainer">

  <div class="container">

    <div class="content">

      <div class="scadaLogo">
        <img class="logo" src="../app/media/ScadaLogo.png">
      </div>

      <div class="loginForm">

        <form method="post">

          <input placeholder="username" type="text" required>

          <input placeholder="e-mail" type="email" required>

          <input placeholder="password" type="password" required>

          <input placeholder="repeat password" type="password" required>

          <div class="buttonsGroup">
            <button [routerLink]="['/login']" type="button" class="loginButton">Sign up</button>
          </div>


        </form>

      </div>

    </div>

  </div>

</div>
