@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Raleway, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
