@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto, sans-serif;
}






