<div class="mainContainer" [ngClass]="{ 'modalOn': showModal }">

  <div class="modal" [ngClass]="{ 'showModal': showModal }">
    <md-icon class="buttonCloseModal" (click)="modal()">clear</md-icon>

    <div class="lostInfo">If you have lost access to your account, contact the administrator at: sdt@abilit.eu</div>
  </div>

  <div class="container" [ngClass]="{ 'hide': showModal }">

    <div class="content">

      <div class="scadaLogo">
        <img class="logo" src="../ScadaLTS/app/media/ScadaLogo.png">
      </div>

      <div class="loginForm">

        <form novalidate [formGroup]="form">

          <md-input-container>
            <input mdInput formControlName="username" placeholder="username" type="text" [(ngModel)]="username" autofocus>
          </md-input-container>

          <md-input-container>
            <input mdInput formControlName="password" placeholder="password" type="password" [(ngModel)]="password">
          </md-input-container>


          <p class="errorLoginParagraph" [ngClass]="{'showErrorLoginParagraph': isPasswordIncorrect && form.status == 'VALID' }">Wrong username or password.</p>
          <p class="errorLoginParagraph" [ngClass]="{'showErrorLoginParagraph': !isFormEmpty && form.status == 'INVALID' }">Enter username and password.</p>

          <div class="buttonsGroup">
            <button md-raised-button md-ripple type="submit" (click)="login()" [disabled]="isLoggingActive">Sign in
              <div class="spinner" *ngIf="isLoggingActive">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </button>
            <button md-raised-button (click)="modal()" class="forgotButton">Forgot password</button>
            <button md-raised-button [routerLink]="['/registration']" class="registerButton">Sign up</button>
          </div>
        </form>
          <!--<p>Form: {{ form.value | json }}</p>-->
          <!--<p>Form status: {{ form.status | json }}</p>-->
          <!--<p>Form status: {{ isPasswordIncorrect | json }}</p>-->
      </div>

    </div>

  </div>

</div>
