.DS_Store
/dist

/tests/e2e/videos/
/tests/e2e/screenshots/
/cypress/videos
/cypress/screenshots

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

test-results.xml
/.proxy-cookies


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/

