<div class="about col-md-6 col-xs-12">
<md-card>

<p><h3>Scada-LTS</h3><br>Is an Open Source, web-based, multi-platform solution for building your own SCADA (Supervisory Control and Data Acquisiton) system.

<br><br>
  <hr>


  Scada-LTS homepage - <a href="http://scadalts.org">scadalts.org</a>

</md-card>
</div>

<div class="community col-md-6 col-xs-12">
  <md-card>

    <h3>Community</h3>
    <br>

    Scada-LTS <a href="https://github.com/sdtabilit/Scada-LTS/tree/develop-sdtabilit">GitHub</a>
    <br>
    <br>
    Scada-LTS tag is available on Stack Overflow. Feel free to ask questions - <a href="http://stackoverflow.com/questions/tagged/scadalts">scadalts</a>.
    
  </md-card>

</div>