* {
  box-sizing: border-box; }

input:focus {
  border: 1px solid #666; }

li {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer; }

.dataTableContainer, .chartContainer {
  margin-bottom: 30px;
  position: relative; }

table {
  width: 100%;
  border-radius: 6px;
  -moz-border-radius: 6px;
  border: none;
  border-collapse: collapse; }

tr:nth-of-type(odd) {
  background: #eee; }

table td {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
  white-space: nowrap; }

table td.checkBox {
  width: 2%; }

table td.date {
  width: 5%; }

tr {
  border-radius: 5px; }

table td:first-child {
  border-left: none; }

table td:last-child {
  border-right: none; }

.watchlistChart {
  min-height: 250px;
  height: 40vh;
  z-index: -5; }

select {
  height: 40px;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #ccc;
  outline: 0;
  cursor: pointer;
  padding-left: 15px;
  margin: 0;
  color: #333; }

@-webkit-keyframes blink {
  0%, 100% {
    opacity: 0; }
  40%, 60% {
    opacity: 1; } }
@keyframes blink {
  0%, 100% {
    opacity: 0; }
  40%, 60% {
    opacity: 1; } }
.chartBtn:hover {
  border-color: #666;
  transition: border-color 0.3s ease-out; }

.lastActualizationDate {
  margin: 15px 0; }

.dataLoadOff {
  opacity: 0.3;
  transition: opacity 0.3s ease; }

.dataTable {
  transition: opacity 0.3s ease-out; }

.chartLoadOff {
  opacity: 0.3;
  transition: opacity 0.3s ease; }

#plotly {
  transition: opacity 0.3s ease-out; }

.backlightOnDataChange {
  -webkit-animation: backlight 1.5s ease;
  animation: backlight 1.5s ease; }

@-webkit-keyframes backlight {
  0% {
    background-color: #d7f4e4; }
  100% {
    background-color: transparent; } }
@keyframes backlight {
  0% {
    background-color: #d7f4e4; }
  100% {
    background-color: transparent; } }
.chartContainer [md-raised-button] {
  width: 10px;
  color: #fff;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: #666;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease; }

h2 {
  font-size: 20px; }

.chartContainer {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  margin-top: -30px; }

.open {
  margin-top: 0;
  margin-bottom: 10px;
  height: 554px;
  transition: all 0.5s ease-in; }

.buttonFromPast, .inputFromPast, .selectFromPast {
  width: 25%; }

.buttonFromPast, .inputFromPast, .selectFromPast, .datePickerInput, .revealChartButton {
  border: 1px dotted #666;
  height: 30px;
  line-height: 20px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  padding: 0 15px;
  margin-bottom: 10px;
  box-sizing: border-box; }

.buttonFromPast, .revealChartButton {
  background-color: #666;
  color: #fff; }

.elementsFromPast > * {
  vertical-align: middle; }

.elementsFromPast {
  margin-bottom: 30px; }

.timeRangeElementsChild {
  display: inline-block; }

.revealChartButton {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 0; }

.datePickerInput {
  width: 100%; }

/*# sourceMappingURL=watchlist.component.css.map */
