<div class="row">

  <div class="dataTable col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">

    <md-card>

      <div>
        <select class="chooseWatchlist" [(ngModel)]="selectedWatchlist" (ngModelChange)="updateWatchlistTable($event.xid)">
          <option *ngFor="let item of _items; let i = index" [ngValue]="item">{{ item.name }}</option>
        </select>
      </div>
      <br>
      <table *ngIf="_watchlistElements.length">
        <tr *ngFor="let elem of _watchlistElements">
          <td>{{ elem.ts }}</td>
          <td>{{ elem.value }}</td>
        </tr>
      </table>

    </md-card>
  </div>

  <div class="dataTable col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">

    <md-card>

      <div id="chart"></div>

    </md-card>
  </div>


</div>

