  <!--<div class="search col-lg-3 col-md-12 col-sm-12">-->

    <!--<div class="searchInput">-->
      <!--<input type="text" placeholder="search"/>-->
    <!--</div>-->

    <!--<div class="listItem">-->
      <!--<ul class="listGroup">-->
        <!--<li class="listGroupItem" *ngFor="let item of items">{{ item.name }}</li>-->
      <!--</ul>-->
    <!--</div>-->

  <!--</div>-->

  <!--<div class="dataTable col-lg-9 col-md-12 col-sm-12">-->

    <!--<div class="searchInput">-->
      <!--<input type="text" placeholder="search"/>-->
    <!--</div>-->

    <!--<div class="listItem">-->
      <!--<ul class="listGroup">-->
        <!--<li class="listGroupItem" *ngFor="let item of items">{{ item.name }}</li>-->
      <!--</ul>-->
    <!--</div>-->

  <!--</div>-->



