<div class="row">

  <div class="chartContainer col-md-12 col-xs-12" [ngClass]="{ 'open': !isChartHidden }" (window:resize)="initiateChart()">
    <md-card class="md-card">
      <div class="chartButtons">
        <button md-raised-button md-ripple (click)="increaseChartLineWidth()">+</button>
        <button md-raised-button md-ripple (click)="decreaseChartLineWidth()">-</button>
        <button md-raised-button md-ripple (click)="isLinearChart ? toSplineChart() : toLinearChart()">{{ isLinearChart ? 's' : 'l' }}</button>
      </div>
      <div id="plotlyLoader" *ngIf="isAnyRequestActive">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <div id="plotly"></div>
    </md-card>
  </div>

  <div class="dataTableContainer col-md-6 col-xs-12">
    <md-card>
      <div>
        <select class="chooseWatchlist" [(ngModel)]="selectedWatchlist" (ngModelChange)="cleanChartBeforeDraw();updateWatchlistTable($event.xid);deactivateInterval();initiateInterval()">
          <option *ngFor="let item of _watchlists" [ngValue]="item">{{ item.name }}</option>
        </select>
      </div>
      <p *ngIf="actualDate" class="lastActualizationDate">Last actualization: {{ actualDate | date: 'dd/MM/yyyy, HH:mm:ss' }}</p>
      <table *ngIf="_values.length" class="dataTable">
        <tr *ngFor="let elem of _values | sort">
          <td>{{ elem.name }}</td>
          <td class="backlightOnDataChange date">{{ elem.ts | date: 'HH:mm:ss' }}</td>
          <td class="backlightOnDataChange">{{ elem.value }}</td>
        </tr>
      </table>
    </md-card>
  </div>

  <div class="chartSettings col-md-6 col-xs-12">
    <md-card>
      <div class="elementsFromPast">
        <input type="number" min="1" max="100" class="inputFromPast" [(ngModel)]="dateFrom" pattern="\d+">
        <select [(ngModel)]="dateFromUnit" class="selectFromPast">
          <option value="seconds">seconds</option>
          <option value="minutes">minutes</option>
          <option value="hours">hours</option>
        </select>
      </div>
              <button md-raised-button md-ripple (click)="getDataFromSpecifiedTimeToNow()" [disabled]="isRequestSpecifiedTimeActiveAndUndone || isRequestTimeRangeActiveAndUndone" [ngClass]="{ 'active': activeState == 'specifiedTime' }" class="buttonFromPast">Load data</button>
              <div class="spinner spinnerSpecifiedTime" *ngIf="isRequestSpecifiedTimeActiveAndUndone">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
              </div>

      <div class="timeRangeElements">
        <div class="timeRangeElementsChild">
          <h2>From:</h2>
          <input type="datetime-local" class='datePickerInput' [(ngModel)]="dateRange1">
        </div>
        <div class="timeRangeElementsChild">
          <h2>To:</h2>
          <input type="datetime-local" class='datePickerInput' [(ngModel)]="dateRange2">
        </div>
          <div>
              <button md-raised-button md-ripple (click)="getDataFromTimeRange()" [disabled]="isRequestTimeRangeActiveAndUndone || isRequestSpecifiedTimeActiveAndUndone" [ngClass]="{ 'active': activeState == 'timeRange' }" class="buttonFromPast">Load data</button>
              <div class="spinner spinnerTimeRange" *ngIf="isRequestTimeRangeActiveAndUndone">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
              </div>
          </div>
      </div>
      <button md-raised-button md-ripple (click)="isChartHidden = !isChartHidden" class="revealChartButton">{{ isChartHidden ? 'Reveal chart' : 'Hide chart' }}</button>
    </md-card>
  </div>

</div>
