<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:security="http://www.springframework.org/schema/security"
         xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd">


    <http use-expressions="true">
        <headers>
            <cache-control />
            <content-type-options disabled="true"/>
            <hsts />
            <frame-options />
            <xss-protection />
        </headers>

        <form-login authentication-success-handler-ref="loginAuthenticationSuccessHandler"
                    authentication-failure-url = "/login.htm?error=true"/>
        <csrf disabled="true"/>
    </http>

    <authentication-manager id="authenticationManager">
        <authentication-provider>
            <password-encoder ref="customPasswordEncoder" />
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query=
                                       "select username, password, enabled from springUser where username=?"
                               authorities-by-username-query=
                                       "select username, userRoles.role from users
                                       inner join userRoles on users.id = userRoles.userId
                                       where username =?  " />
        </authentication-provider>
    </authentication-manager>

    <b:bean id="loginAuthenticationSuccessHandler"
                class="org.scada_lts.spring.LoginAuthenticationSuccessHandler" >
    </b:bean>

    <b:bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <b:property name="expectedType" value="javax.sql.DataSource"/>
        <b:property name="jndiName" value="java:comp/env/jdbc/scadalts"/>
    </b:bean>

    <b:bean id="customPasswordEncoder"
            class="org.scada_lts.spring.CustomPasswordEncoder">
    </b:bean>

</b:beans>