$theme_main_color: green;
$theme_main_color_light: #2CB32C;
$theme_main_color_dark: #004100;
$header_font_size: 25px;
$card_height: 60px;

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Oswald);

main-theme {
    background-color: $theme_main_color;
}
.mdl-cell {
    float: left;
}

.mdl-card {
    width: 100%;
    min-height: 20px;
}

.mdl-layout__header {
    background-color: $theme_main_color;
}
.button-color {
    color: white;
    background-color: $theme_main_color;
    &:hover {
        background-color: $theme_main_color_light;
    }

}
.mdl-card__actions {
    img {
        display: block;
        width: 100%;
        
    }
}
.mdl-switch {
    display: unset;
}
.mdl-switch.is-checked .mdl-switch__thumb {
    background-color: $theme_main_color;
}
.mdl-switch.is-checked .mdl-switch__track {
    background-color: rgba(0, 128, 0, 0.5);
}
.mdl-layout-title , #clock{
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    color: white;
    font-size: $header_font_size;
    font-weight: bold;
    text-align: center;
    background-color: $theme_main_color;
}
#clock {
    margin-bottom: 15px;
}

.logo {
    position: fixed;
    max-height: 80px;
    margin-left: 20px;
    left: 35%;
    top: 3px;
    @media screen and (max-width: 1366px) {
        left: 25%;
    }
    @media screen and (max-width: 840px) {
        left: 10%;
    }
}
.center-element {
    width: 60%;
    text-align: center;
    margin: 0 auto;

    @media screen and (max-width: 840px) {
        width: 100%;

    }

    h2 {
        margin-right: 20px;
    }

}
#liveStream1, #liveStream2{
    margin-left: 30%;
    margin-right: 30%;
    height: 30%;
    width: 40%;

    @media screen and (max-width: 840px) {
        margin: 0;
        width: 90%;
        height: auto;
    }

}
.data {
    color: black;
    font-size: 16px;
    font-weight: bold;
    transition: color 1s;
}
