@import url(common_deprecated.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext");
html body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #E8EAF6;
  margin: 0;
  padding: 0; }

.controlsDiv {
  padding: 5px;
  background-color: transparent;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out; }
  .controlsDiv table {
    background-color: transparent; }
    .controlsDiv table td {
      color: red;
      width: 2rem;
      background-color: transparent; }

#mainHeader {
  background-color: #607D8B; }

#logo {
  padding: 1px 1em;
  text-shadow: 1px 1px 3px red; }

img#logo {
  opacity: 0.9; }

.projectTitle {
  font-family: "Lato", sans-serif;
  font-size: 1rem; }

.bigTitle {
  color: #37474F;
  font-size: 1.5rem;
  font-weight: 700; }

.borderDiv, .borderDivPadded {
  border: 1px solid transparent;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
  background-color: whitesmoke;
  padding: 1rem; }

.formLabel, .formLabelRequired, .formField, .formError {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0.5rem; }
  .formLabel::before, .formLabelRequired::before, .formField::before, .formError::before {
    content: "";
    display: block;
    height: 1px;
    background-color: transparent; }

#viewContent {
  background-color: red; }

#viewBackground {
  background-color: blue; }

a img {
  margin: 0;
  padding: 0.2rem;
  height: 44px;
  transition: all 0.3s ease-in-out; }
  a img:hover {
    background: rgba(96, 125, 139, 0.51); }
  a img:focus {
    background-color: red; }

img.ptr {
  margin: 0;
  padding: 0.2rem;
  height: 44px;
  transition: all 0.3s ease-in-out; }
  img.ptr:hover {
    background: rgba(96, 125, 139, 0.51); }
  img.ptr:focus {
    background-color: red; }

input, select, textarea {
  font-family: "Lato", sans-serif;
  box-sizing: content-box;
  text-align: right;
  min-width: 3.5rem;
  height: 44px;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0.4rem 0.5rem;
  margin: 0.1rem 0.9rem;
  border: 1px solid #80CBC4; }
  input::selection, select::selection, textarea::selection {
    color: #263238;
    padding: 1rem;
    line-height: 2rem; }

select#watchListSelect {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  height: 44px;
  padding: 0 1rem 5px;
  margin-right: 3rem;
  color: #1B5E20; }

#wlEdit {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  transform: translateY(40%); }
  #wlEdit .labelDiv {
    color: blue; }
  #wlEdit a {
    padding: 0.5rem 1rem;
    background-color: #00C853;
    font-size: 1rem;
    text-decoration: none; }
    #wlEdit a:hover {
      background-color: #1B5E20; }
  #wlEdit div {
    margin: 1rem; }
  #wlEdit input {
    font-family: "Lato", sans-serif;
    margin: 1rem 0; }

#wlEditImg {
  height: 44px; }

#newWatchListName {
  font-family: "Lato", sans-serif; }

#subHeader > tbody > tr > td:nth-child(2) span.copyTitle {
  color: #263238;
  font-size: 1rem;
  text-transform: uppercase; }
  #subHeader > tbody > tr > td:nth-child(2) span.copyTitle b {
    text-transform: none;
    font-size: 1.2rem;
    padding-right: 2rem; }

.smallTitle {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 3rem;
  text-transform: uppercase;
  padding: 1rem 1rem 0.2rem 0;
  margin-bottom: 3rem;
  border-bottom: 1px solid black;
  text-align: left; }
  .smallTitle::after {
    position: relative;
    display: inline-block;
    content: "";
    height: 15px;
    background-color: black; }

.dojoTreeNode img {
  background-size: cover;
  min-height: 44px;
  min-width: 44px; }

span.dojoTreeNodeLabel span {
  font-family: "Lato", sans-serif;
  font-size: 1rem; }

#subHeader > tbody > tr > td:nth-child(2) > div > img {
  margin: 0 1rem;
  padding: 0; }

#treeDiv img {
  height: 44px; }
#treeDiv span {
  font-family: "Lato", sans-serif;
  color: inherit;
  margin: 0; }

span#__header__alarmLevelText {
  font-family: "Lato", sans-serif;
  color: white;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1rem; }

#__header__alarmLevelImg {
  transform: translateY(25%); }

#imageChartDiv img {
  width: 100%;
  height: calc(100% - 4rem); }

html {
  background-color: #607d8b; }

/*# sourceMappingURL=common.css.map */
