/* place for custom CSS styles for Scada-LTS */

/* **** GRAPHICAL VIEWS **** */
/* To make sure that styles do not override
 *   the other components in the application
 *   try to define your own class prefix or to use
 *   #viewContainer > #viewContent prefix before
 *   style definition to make that style specificity
 *   values more relevant.
 */

/*  **** Example ****
 * #viewContainer > #viewContent .slts-btn {
 *  font-size: 1.5em;
 * }
 */

/* ----- Custom information stylesheet ----- */
.top-description-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#top-description-prefix {
    color: black;
    font-size: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
}

#top-description {
    color: #39B54A;
    font-size: 2em;
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
}