/*
Menu
*/
.sideMenu {
  background-color: #f2f2f2;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 250px;
  position: fixed;
  top: 65px;
  display: block;
  left: 0;
  min-height: 100%;
  transition: .3s width cubic-bezier(0.82, 0, 0.11, 1);
}

.sideMenuContent {
  width: auto;
  height: auto;
}

.menuItem {
  line-height: 40px;
  display: block;
  vertical-align: middle;
  padding: 6px 0 6px 12px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: auto;
}

.menuItem:nth-child(11) {
  border-bottom: 1px solid #b3b3b3;
}

.icon {
  color: #404040;
  width: 20px;
  line-height: 40px;
  float: left;
  display: inline-block;
  vertical-align: middle;
}

.menuItem:hover {
  background-color: #e6e6e6;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menuItemText {
  margin: 0 0 0 38px;
  display: block;
  vertical-align: middle;
  width: 150px;
}

.subMenuItemContainer {
  width: auto;
  padding: 20px 0;
  overflow: hidden;
  background-color: #f9f9f9;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 2px;
}

.subMenuLink {
  width: 100%;
  display: inline-block;
  float: left;
  padding: 15px 0 15px 30px;
  /*box-sizing: border-box;*/
  cursor: pointer;
  color: #666;
  font-size: 14px;
  transition: all .1s ease;
  box-sizing: border-box;
  border-left: 5px solid transparent;
}

.subMenuLink:hover {
  /*background-color: #808080;*/
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  transition: all .2s ease;
  color: #000;
}

a {
  text-decoration: none;
  outline: none;
}

*:focus, *:active {
  outline: none;
}

.subMenuHide {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.subMenuShow {
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  max-height: 500px;
}

/*
Menu
*/


.logoScada {
  color: #fff;
  display: block;
  white-space: nowrap;
  float: left;
  line-height: 85px;
  padding-left: 20px;
}

.logoScada img {
  width: 160px;
  height: 30px;
}

.collapseMenuIcon {
  line-height: 80px;
  margin-left: 20px;
  cursor: pointer;
}
.activeMenuItem {
  background-color: #e6e6e6;
}
.hideMenu {
  width: 48px;
  transition: .3s width cubic-bezier(0.86, 0, 0.07, 1);
}
/*
header
*/
.iconMenu:active {
  color: #000;
}

.header {
  overflow: hidden;
  z-index: 1;
  width: 100%;
  min-width: 320px;
  background-color: #FFFFFF;
  position: fixed;
  box-shadow: 2px 0 3px rgba(0,0,0,.5);
  height: 65px;
}


.userTools {
  float: right;

  margin-right: 50px;
}

.userTools img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #777;
  cursor: pointer;
  margin-top: 7px;
}

.dropdownInfo {
  cursor: pointer;
  position: absolute;
  right: 140px;
  top: 24px;
}

.dropdownMail {
  cursor: pointer;
  position: absolute;
  right: 180px;
  top: 22px;
}
/*.background {*/
  /*background-color: #0d3349;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*left: 0;*/
  /*top: 0;*/
  /*overflow: hidden;*/
  /*position: fixed;*/
  /*z-index: -1;*/
/*}*/

.userDropdown {
  position: fixed;
  top: 80px;
  right: 40px;
  border: 1px dotted #999;
  border-radius: 3px;
  background-color: #fff;
  /*padding: 1px 15px;*/
  line-height: 40px;
  box-shadow: 1px 1px 0 0 rgba(0,0,0,.3);
  z-index: 2;
  width: 140px;
}

.userDropdown li {
  vertical-align: middle;
  color: #000;
  cursor: pointer;
}
.userDropdown li a {
  font-size: 14px
}

.userDropdown li:nth-child(odd) {
  border-bottom: 1px solid #ccc;
}

.userDropdown li:hover {
  background-color: #f2f2f2;
}

.userDropdown .icon {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

a:visited {
  color: #000;
}

.hidden {
  display: none;
}

.notificationsDropdown {
  width: 300px;
  right: 40px;
  top: 80px;
  position: fixed;
  border: 1px dotted #999;
  border-radius: 3px;
  z-index: 2;
  box-shadow: 1px 1px 0 0 rgba(0,0,0,.3);
}

.notificationsHeader {
  padding: 10px 12px;
  border-bottom: 1px dotted #ccc;
  font-size: 14px;
}
.msgList {
  max-height: 280px;
}
.msgList li {
  padding: 5px 20px;
  cursor: pointer;
  font-size: 14px;
}
.msgList li:hover {
  background-color: #f2f2f2;
}

.allNotifications {
  border-top: 1px dotted #ccc;
  text-align: center;
  font-size: 14px;
  padding: 10px 5px;
  cursor: pointer;
}
.allNotifications:hover {
  background-color: #e6e6e6;
}
.notificationsHeader span {
  float: right;
  cursor: pointer;
}

